{% extends "base.html" %}

{% block content %}

<div class="home-container">

    <h1 class="welcome">
        Credit Card Fraud Detection System
    </h1>

    <p class="subtitle">
        AI-powered system to detect fraudulent transactions and generate credit risk insights in real-time.
    </p>

    <!-- BUTTONS -->
    <div class="button-group">

        <a href="/login" class="primary-btn">
            Login
        </a>

       

    </div>

    <!-- INFO BOX -->
    <div class="info-box">

        <h3>Features</h3>

        <ul>
            <li>Real-time fraud detection using Machine Learning</li>
            <li>Credit score & risk analysis</li>
            <li>Two-factor authentication (OTP login)</li>
            <li>Transaction history tracking</li>
            <li>Interactive analytics dashboard</li>
        </ul>

    </div>

</div>

{% endblock %}